In [110]:
import sklearn
import pandas as pd
from sklearn.datasets import load_iris
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.model_selection import GridSearchCV
import numpy as np
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix, accuracy_score, precision_score, recall_score, f1_score
from sklearn.metrics import roc_auc_score
def get_clf_eval(y_test, pred=None, pred_proba=None):
    confusion = confusion_matrix( y_test, pred)
    accuracy = accuracy_score(y_test , pred)
    precision = precision_score(y_test , pred)
    recall = recall_score(y_test , pred)
    f1 = f1_score(y_test,pred)
    # ROC-AUC 추가 
    roc_auc = roc_auc_score(y_test, pred_proba)
    print('오차 행렬')
    print(confusion)
    # ROC-AUC print 추가
    print('정확도: {0:.4f}, 정밀도: {1:.4f}, 재현율: {2:.4f},\
    F1: {3:.4f}, AUC:{4:.4f}'.format(accuracy, precision, recall, f1, roc_auc))  #위치정하는 것 {2: }-> 두번째

In [69]:
import pydataset

mpg = pydataset.data('mpg') 
mpg

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
...,...,...,...,...,...,...,...,...,...,...,...
230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

In [70]:
#mpg[''fl']중 r,p만 뽑기 
mpg=mpg.query(' fl == "r" or fl == "p"  ')
mpg.drop(['manufacturer','model','year'],axis=1,inplace=True) 
mpg

     displ  cyl       trans drv  cty  hwy fl    class
1      1.8    4    auto(l5)   f   18   29  p  compact
2      1.8    4  manual(m5)   f   21   29  p  compact
3      2.0    4  manual(m6)   f   20   31  p  compact
4      2.0    4    auto(av)   f   21   30  p  compact
5      2.8    6    auto(l5)   f   16   26  p  compact
..     ...  ...         ...  ..  ...  ... ..      ...
230    2.0    4    auto(s6)   f   19   28  p  midsize
231    2.0    4  manual(m6)   f   21   29  p  midsize
232    2.8    6    auto(l5)   f   16   26  p  midsize
233    2.8    6  manual(m5)   f   18   26  p  midsize
234    3.6    6    auto(s6)   f   17   26  p  midsize

[220 rows x 8 columns]

In [71]:
X = mpg[['displ', 'cyl', 'trans', 'drv', 'cty', 'hwy','class']]
y = mpg['fl']

In [72]:
from sklearn.preprocessing import LabelEncoder
en=LabelEncoder()
mpg['trans']=en.fit_transform(mpg['trans'])
mpg['drv']=en.fit_transform(mpg['drv'])
mpg['class']= en.fit_transform(mpg['class'])

In [111]:
from sklearn.tree import DecisionTreeClassifier 
from sklearn.model_selection import cross_val_score 
from sklearn.tree import DecisionTreeClassifier 
from sklearn.model_selection import cross_val_score 

dt_clf = DecisionTreeClassifier()
scores=cross_val_score(dt_clf,X,y,scoring='accuracy',cv=5)
np.mean(scores)

0.5878349524752092

In [105]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib

import warnings
warnings.filterwarnings('ignore')

cust_df = pd.read_csv('santan/train.csv', encoding='latin-1')
print(f'dataset shape: {cust_df.shape}')
cust_df.head(3)

dataset shape: (76020, 371)

,ID,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_comer_ult3,imp_op_var40_efect_ult1,imp_op_var40_efect_ult3,...,saldo_medio_var33_hace2,saldo_medio_var33_hace3,saldo_medio_var33_ult1,saldo_medio_var33_ult3,saldo_medio_var44_hace2,saldo_medio_var44_hace3,saldo_medio_var44_ult1,saldo_medio_var44_ult3,var38,TARGET
0,1,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,39205.17,0
1,3,2,34,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,49278.03,0
2,4,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,67333.77,0

In [106]:
cust_df['TARGET']

0        0
1        0
2        0
3        0
4        0
        ..
76015    0
76016    0
76017    0
76018    0
76019    0
Name: TARGET, Length: 76020, dtype: int64

In [107]:
#데이터불균형체크크
from collections import Counter
Counter(cust_df['TARGET'])

Counter({0: 73012, 1: 3008})

In [108]:
cust0=cust_df[(cust_df['TARGET']==0)].sample(frac=0.1)
cust1=cust_df[(cust_df['TARGET']==1)]
cust_df = pd.concat([cust1, cust0 ])
cust_df

,ID,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_comer_ult3,imp_op_var40_efect_ult1,imp_op_var40_efect_ult3,...,saldo_medio_var33_hace2,saldo_medio_var33_hace3,saldo_medio_var33_ult1,saldo_medio_var33_ult3,saldo_medio_var44_hace2,saldo_medio_var44_hace3,saldo_medio_var44_ult1,saldo_medio_var44_ult3,var38,TARGET
31,77,2,66,0.0,0.00,0.00,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,63324.900000,1
80,159,2,45,0.0,26.97,184.47,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,124988.250000,1
122,220,2,42,0.0,0.00,0.00,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,69591.480000,1
162,303,2,31,0.0,0.00,0.00,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,45265.380000,1
163,306,2,62,0.0,0.00,0.00,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,109595.550000,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24645,49330,2,32,0.0,0.00,0.00,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,101389.590000,0
37593,75173,2,28,0.0,0.00,0.00,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,57908.850000,0
67760,135280,2,24,0.0,0.00,0.00,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,26280.840000,0
2090,4180,2,23,0.0,0.00,0.00,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,117310.979016,0
7160,14378,2,23,0.0,0.00,0.00,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,67751.820000,0

In [99]:
0을 기준으로 0.9퍼 지우고 1을 합쳐짐 
cust_df = cust_df.drop(cust_df[cust_df['TARGET']== 0].sample(frac=0.9).index)

In [100]:
cust_df

,ID,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_comer_ult3,imp_op_var40_efect_ult1,imp_op_var40_efect_ult3,...,saldo_medio_var33_hace2,saldo_medio_var33_hace3,saldo_medio_var33_ult1,saldo_medio_var33_ult3,saldo_medio_var44_hace2,saldo_medio_var44_hace3,saldo_medio_var44_ult1,saldo_medio_var44_ult3,var38,TARGET
31,77,2,66,0.0,0.00,0.00,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,63324.900000,1
36,87,2,39,0.0,0.00,0.00,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,47546.460000,0
63,139,2,26,0.0,0.00,0.00,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,191661.840000,0
80,159,2,45,0.0,26.97,184.47,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,124988.250000,1
86,169,2,26,0.0,0.00,0.00,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,117310.979016,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75998,151801,2,67,0.0,0.00,0.00,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,55648.980000,0
76000,151804,2,75,0.0,0.00,0.00,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,117310.979016,1
76002,151806,2,37,0.0,0.00,0.00,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,394687.350000,0
76007,151811,2,61,0.0,0.00,0.00,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,83667.150000,1
76012,151820,4,50,0.0,2.67,269.58,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,117310.979016,0

In [112]:
X = X_features = cust_df.iloc[: , :-1]
y = y_labels = cust_df.iloc[: , -1]

X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.3)

lr_clf = LogisticRegression(max_iter = 1000)
lr_clf.fit(X_train, y_train)
pred = lr_clf.predict(X_test)
pred_proba = lr_clf.predict_proba(X_test)[:, 1]

confusion = confusion_matrix( y_test, pred)
accuracy = accuracy_score(y_test , pred)

# 회귀

## 보스턴 집값 실습

In [226]:
data_url = "http://lib.stat.cmu.edu/datasets/boston"
raw_df = pd.read_csv(data_url, sep="\s+", skiprows=22, header=None)
data = np.hstack([raw_df.values[::2, :], raw_df.values[1::2, :2]])
target = raw_df.values[1::2, 2] 

from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error,r2_score

In [227]:
lr = LinearRegression()
x = data[:,5].reshape(-1,1)
y = target
lr.fit(x,y)

LinearRegression()

In [228]:
lr.coef_

array([9.10210898])

In [229]:
lr.intercept_

-34.67062077643857

In [241]:
#x=7.1,7.2,7.3 일때 y 는? 
lr.predict(np.array([[7.1,7.2,7.3]]).reshape(-1,1))
pred=lr.predict(X_test)
pred

array([20.03518372, 18.91902441, 31.07275913, 23.97717493, 26.82072366,
       23.35708643, 21.82458198, 14.57840486, 11.85001544, 20.17691823,
       24.67698911, 19.36194477, 25.75771479, 40.29436105, 20.66413063,
       23.77343157, 28.9644582 , 17.84715713, 25.48310416, 20.42495364,
       22.41809526, 19.73399787, 17.79400669, 18.14834298, 28.81386528,
        8.44838706, 21.30193595, 11.29193578, 16.89044915, 15.19849337,
       25.61598027, 24.45552892, 19.93774124, 20.59326337, 22.23206871,
       25.96145815, 16.27921905, 26.20949356, 17.8117235 , 23.27736076,
       30.19577681, 24.23406874, 25.21735195,  7.2702189 , 24.41123689,
       20.06175894, 28.86701573, 35.3247946 , 22.42695367, 22.59526341,
       25.66027231, 40.73728141, 36.35236983, 26.19177674, 26.82958206,
       23.56082979, 24.77443159, 32.89759101, 21.62969702, 16.53611286,
       19.2733607 , 24.96045814, 22.55982978, 13.98489158, 18.28121909,
       33.41137863, 30.82472372, 22.25864393, 27.68884756, 20.26550231,
       18.23692705, 25.73999797, 31.79029011, 23.87087405, 18.64441378,
       31.38280338, 19.22021025, 27.42309535, 20.65527222, 22.61298022,
       30.88673257, 20.84129877, 23.27736076, 19.23792707, 25.86401567,
       21.10705099, 27.95459978, 27.70656438, 21.20449347, 26.39552011,
       27.91030774, 23.75571475, 19.95545805, 29.23021042, 22.92302447,
       23.06475899, 17.08533411, 25.87287408, 29.94774141, 19.54797132,
       24.08347582, 21.47024569, 15.55282966, 19.82258194, 21.51453772,
       23.78228998, 19.32651114, 23.4456705 , 14.9858916 , 21.94859968,
       19.42395362, 24.9161661 , 17.40423677, 17.8028651 , 27.42309535,
       32.96845827, 21.34622799, 17.12076774, 18.93674122, 25.84629886,
       25.37680328, 24.93388292, 19.3973784 , 27.31679446, 21.39052002,
       21.51453772, 17.58140491, 27.02446702, 19.79600672, 25.97917497,
       19.37080317, 18.52925449, 30.88673257, 20.628697  , 35.36908663,
       20.91216603, 17.84715713, 21.02732533, 16.57154649, 16.59812171,
       21.45252887, 19.06961733, 17.17391818, 20.51353771, 38.71756456,
       11.63741366, 24.07461741, 22.0991926 , 24.20749352, 20.37180319,
       23.42795369, 28.00775022])

In [232]:
X_train,X_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=156)
lr = LinearRegression()

lr.fit(X_train,y_train)

LinearRegression()

In [234]:
np.sum(y_test-pred)**2/len(pred) #잔차제곱 , MSE (작으면 작을수록 좋음 오차가 적음 )

from sklearn.metrics import mean_squared_error
mean_squared_error(y_test,pred)

#RMSE: root mean squared error
np.sqrt(mean_squared_error(y_test,pred))

5.76394500493956

In [235]:
np.sum(np.abs(y_test-pred))/len(pred) #MAE
from sklearn.metrics import r2_score
r2_score(y_test,pred)

0.5336923263490135

In [236]:
X_train.shape
y_train.shape
pred=lr.predict(X_test)
pred
mean_squared_error(y_test,pred)

34.203000765274844

In [239]:
lr.coef_

array([8.85840723])

In [238]:
lr.intercept_

-32.76092337266965

In [245]:
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.linear_model import LinearRegression

data_url = "http://lib.stat.cmu.edu/datasets/boston"
raw_df = pd.read_csv(data_url, sep="\s+", skiprows=22, header=None)
data = np.hstack([raw_df.values[::2, :], raw_df.values[1::2, :2]])
target = raw_df.values[1::2, 2] 

lr = LinearRegression()
X = data[:,5].reshape(-1,1) #설명변수(1개 -> 단순 선형 회귀분석)
y = target #반응변수 

#train, test 나누기
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3,
                                                    random_state = 156)
#학습 및 예측
lr.fit(X_train,y_train)
pred = lr.predict(X_test)

#mse, rmswe,r2score
mse = mean_squared_error(y_test, pred)
rmse = np.sqrt(mse)
r2score = r2_score(y_test, pred)
print(mse) #mean squared error
print(rmse) #root mean squared error
print(r2score) #r^2 값(설명력)

34.203000765274844
5.848333161275514
0.5199382372054543